.form__field, .form__select, .form__inputMark{
padding: 10px;
margin: 2px;
border-radius: 10px;
outline: none;
border: 2px solid #8a2be2;
font-size: 14px;
width: 90px;

display: inline-block;
}
.form__inputMark{
    color: #fff;
    background-color: #8a2be2;
}
.form__button{
    background-color: #8a2be2;
    outline: none;
    border: 2px solid #8a2be2;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 90px;
    text-transform: uppercase;
    font-size: 15px;
}
.currencyConverter__result{
    font-weight: bold;
    color: #8a2be2;
    height: 35px;
    padding-bottom: 30px;
    font-size: 30px;
}