html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.body{
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  background-image: url("https://i.ibb.co/vjNBpQQ/bg.jpg");
  background-size: cover;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
